{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
  <main class="meal-plan-detail">
    <div>
      <a href="{% url 'meal_plan_edit' meal_plan.id %}">Edit</a>
      <a href="{% url 'meal_plan_delete' meal_plan.id %}">Delete</a>
    </div>
    {% if meal_plan.image %}
      <img src="{{ meal_plan.image }}" class="pull-right">
    {% endif %}
    <h1>{{ meal_plan.name }}</h1>
    <h2>by: {{ meal_plan.owner | default_if_none:"Unknown" }}</h2>
    <p>
      Created on {{ meal_plan.created }} |
      Updated on {{ meal_plan.updated }}
    </p>
    <form method="post" action="{% url 'recipe_rating' recipe.id %}">
      {% csrf_token %}
      <div class="rating-form-grid">
        {{ rating_form.as_p }}
        <button class="button">Rate</button>
      </div>
    </form>
    <p>Tags: {% for tag in recipe.tags.all %}{{ tag.word }} {% endfor %}</p>
    {{ recipe.description | markdownify }}
    <h3>Ingredients</h3>
    <table>
      <thead>
        <tr>
          <th colspan="2">Amount</th>
          <th>Food item</th>
        </tr>
      </thead>
      <tbody>
        {% for ingredient in recipe.ingredients.all %}
          <tr>
            <td>{{ ingredient.amount }}</td>
            <td>{{ ingredient.measure.name }}</td>
            <td>{{ ingredient.food.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
      {% for step in recipe.steps.all %}
        <li>{{ step.directions }}</li>
      {% endfor %}
    </ol>
  </main>
{% endblock content %}